@import './resets';
@import './variables';
@import './typography';
@import './functions';
@import url("https://p.typekit.net/p.css?s=1&k=wwy4bxt&ht=tk&f=27989.27998.28028.28056&a=54488276&app=typekit&e=css");
@import './breakpoint';



// ======================================================= END OF HEADER ================================================//
  
    .menu-btn {
    // width: px-to-rem(375px);
  
      display: flex;
      align-items: center;
      cursor: pointer;
      width: px-to-rem(44px);
      height: px-to-rem(44px);
      border-radius: 50%;
      background: #3b6a5e;
      position: relative;
      z-index: 2;
        // left: 80%;
        top: 15%;
     margin: 0% 0% 0% 85%;

      
  
      &__burger {
        display: block;
        width: px-to-rem(25px);
        height: px-to-rem(3px);
        background-color: #fff;
        position: absolute;
        left: px-to-rem(10px);
        @include transition-ease;
        
  
        &::before,
        &::after {
          content: "";
          display: block;
          width: px-to-rem(25px);
          height: px-to-rem(3px);
          background-color: #fff;
          position: absolute;
          @include transition-ease;
      
        }
  
        &::before {
          top: -8px;
        }
  
        &::after {
          top: 8px;
        }
        &.open {
            transform: rotate(720deg);
            background: transparent;


            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }
            &::after {
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
      }
    }
    header {
        background: #122a24;
        height: 10vh;
    }
   .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
    font-family: 'paralucent';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;
    z-index: 2;

    &bar__logo {
       
        visibility: visible;
        margin-left: px-to-rem(16px);
        margin-top: px-to-rem(10px) ;

        img {
            width: px-to-rem(75.42px);
            height: px-to-rem(35px);
        }
    }

    &.open {
        visibility: visible;
    }
    .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vw;
        margin-top: 0.4%;
        overflow: hidden;
        background: $primary-color;
        list-style-type:none;
        padding-right: 1rem;
        transform: translateY(-100%);
        @include transition-ease;
        z-index: 1;


        &.open {
            transform: translateY(0);
        }
        &__item {
            transform: translateX(100vw);
            @include transition-ease;          
        
      
           
        }
        a {
            text-decoration: none;
            color: #fff;
            font-size: 30px;
            line-height: 50px;
            @include transition-ease;
        }
        a:hover {
            color: $hover-color;
        }

    }
   }
   #header_line{
    border: 1px solid #213933;
   }

   // ======================================================= END OF HEADER ================================================//

   // ======================================================= REFERENCES ================================================//
   .references {
    width: 100%;
    background-image: url(../dist/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
     background-position: center;
    padding: 10% 6% 6% 6%;
  
   

    &__header {
        


        &-items {
            
          
        h1 {
            font-family: 'paralucent';
            color: #fff;
            font-size: 32px;
            padding: 4% 4% 8% 1%;
            letter-spacing: 2px;

        }

        &-input {
            position: relative;
            font-size: 16px;    

            span {
                position: absolute;
                top: 30%;
                left: 4%;
            }

            input {
                width: 98%;
                height: 44px;
                border: 1px solid;
                border-radius: 50px;
                background-color: #122a24;
                border: 1px solid #213933;
                z-index: 1;
            }
            ::placeholder {
                color: #fff;
                padding: 40px;
            }
        }

        &-properties {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 5%;
            font-size: 14px;

           

            button {
                height: 44px;
                width: 85px;
                border-radius: 50px;
                border: 1px solid #213933;
                background: #122a24;
                color: #fff;
                cursor: pointer;

                
                i.fa-plus {
                    width: 10px;
                }  
            }
            p {
                color: #fff;
               

                span {
                    color: #9f9b9b;
                }
            }
        }
        }
    }
  
   }

//    .references {
//     width: 100%;
//     height: 43vh;
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;


  


//     &__header {
//         display: flex; 
//         flex-direction: column;
       
//         &-items {
//            margin-top: 10%;
//         }
        

//         h1 {
//             font-family: 'paralucent';
//             color: $text-colorW;
//             font-size: 32px;
//             letter-spacing: 1px;
//             margin-top: 30px; 
//             margin-bottom: 0; 
//             margin-left: 9%;
//         }
//     }
    

//     &__input {
        
//         position: relative;
//         display: inline-block;
//         align-items: center; 
       
        

//         .fas.fa-search {
//             position: absolute;
//             top: 51%;
//             right: 90%;
//             transform: translateY(-50%);
//             color: #fff;
//             pointer-events: none;
//         }


//         input {
//             border-radius: 50px;
//             height: 44px;
//             width: 100%;
//             background: transparent;
//             margin: 0 0 0 0;
//             border: 0.5px solid #717171;
//             color: #fefefe;
//             font-size: 24px;
//             background: $primary-color;
           
            
//         }

//         ::placeholder {
//             font-family: 'Roboto' sans-serif;
//             color: #fefefe;
//             font-size: 20px;
//             position: absolute;
//             left: 14%;
//             top: 10px;
            
//                 }
//     }

//     &__properties {
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//         margin-top: 14%;
//         padding-bottom: 3%;

//         span {
//             color:#fff;
//             opacity: 0.6;
            
//        }
//        p {
//         color: #fff;
//        }
//     }

//     &__filter {
//         width: 25%;
//         height: 44px;
//         border-radius: 50px;
//         border: none;
//         background:#3b6a5e;
//         color: #fefefe;
//         margin-right: 19%;
//         cursor: pointer;
        
//     }
// }



   // ======================================================= END OFREFERENCES ================================================//
   
   .posts {
    width: 100%;

    &__separator   {
        padding: 10px;
      
    }

    h3 {
        font-family: 'paralucent';
        font-size: 16px;
        color: #bebebe;
        margin: 8%;
    }
    h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #0DB04A;
        margin-bottom: 20px;
    }
    p {
        margin-top: 1.5%;
        font-weight: 600;
        margin-top: 20px;
        font-family: 'paralucent';
        letter-spacing: 2px;
        

    }
 

    &__list {
        width: 100%;
       

        &-items {
            width: 100%;
            

        }

        &-item {
            padding: 40px 0 20px 20px;
            border-top:1px solid rgb(221, 191, 191);
            border-bottom:1px solid rgb(221, 191, 191);
            margin: 0 auto;
            width: 100%;  
            
        
        }
        
        &-item-about {
            ul {
                display: grid;
                grid-template-columns: 70% 30%;
                grid-gap: 20px;
                list-style-type: none;
                width: 96%;
                align-items: center;
               

                li {
                    font-family: 'roboto';
                    font-size: 14px;
                    font-weight: 100;
                    color: #151515;
                    padding: 2%;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}
.references__more-btn {
    width: 110px;
    height: 44px;
    border-radius: 50px;
    margin-left: 7%;
    margin-top: 2%;
    background: #E8E8E8;
    border: none;
    font-family: 'paralucent';
    font-weight: 900;
    letter-spacing: 2px;
    color: #000000;
    margin-top: 10%;
    margin-bottom: 10%;
    cursor: pointer;

}



 // ======================================================= END OF POSTS ================================================//
 // ======================================================= IMG SECTION ================================================//


.midSection {
    display: grid;
    grid-template-rows: repeat(1,1fr);
    background-color:$primary-color;
    

 

    &__img {
      
        img {
            width: 100%;
            
        }
    }

    &__company {
        margin-left: 6%;
        margin-top: 7%;
        
       

        &-desc {
            
            h1{
                font-family: 'paralucent';
                font-size: 32px;
                color: #fefefe;
            }

            p {
                font-family: 'Roboto', sans-serif;
                margin-top: 5%;
                color: #fefefe;
                line-height: 25px;

            }
        }
    }
    &__company-btns {
        margin-top: 11%;
      
        button {
          width: 90px;
          height: 44px;
          border-radius: 50px;
          border: none;
          background: #386c5f;
          color: #fefefe;
          margin-right: 10px; 
          margin-bottom: 8%;
        }
      
        button:last-child {
          margin-left: 10px; 
        }
      }
}

 // ======================================================= END OF IMG SECTION ================================================//


  // ======================================================= Footer ================================================//


  .fContainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    &__social {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-column-gap: 100px; 

        &-logo {
            margin: 0 auto;
        }

        &-icons {
            display: inline-block;
          margin: 0 auto;
            
            a {
                
                img {
                    margin-left: 20px;
                }
            }
        }
    }
    &__navigation {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-top: 1px solid rgb(221, 191, 191);
        padding: 20px;

        ul {

            li {
                text-align:left;
                list-style-type: none;
                padding: 10px;
                

                i {
                    transform: rotate(45deg);

                }
            }
        }

    }

            &__end {
                display: grid;
                grid-template-rows: repeat(2,1fr);
                text-align: center;
                border-top: 1px solid rgb(221, 191, 191);
                padding: 20px;

                h4 {
                    color: #bebebe;
                    
                }

                &-privacy {
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    text-align: center;
                    font-size: 14px;

                    p {
                        color: #bebebe;
                    }
                }
            }
}

#post_line {
    margin: 25px 0px 10px 4px; width: 95%;
}


  // ======================================================= END Footer ================================================//


    // ======================================================= MEDIA QUERIES ================================================//


    // @include xs {

    // }

    // @include sm {
    //     .fContainer__social-icons {
    //        margin-left: 30%;
    //     }
    //     .menu-btn {
    //         margin-left: 3%;
    //     }
        
    //     .references__input {
    //         margin-right: 8%;
    //         margin-left: 8%;
    //     }
    // }

    // .references {
        
    // }

    //  @include sms {
    //     .fContainer__social-icons {
    //         margin-left: 50%;
    //     }
    // }

    // @include md {
    //     //MENU BTN
    //     .posts {
    //         h3 {
    //             margin: 6% 0% 5% 4%;
    //         }
    //     }
    //     .menu-btn {
    //         margin-left: 7%;
    //     }
        
    //     //navigation

    //     .nav {
       
    //         &.open {
    //            a{
    //             bottom: 100px;
    //            }
    //         }
    //     }

    //     .menu-nav {
    //     padding-left: 1rem;
    //     padding-right: 1rem;

    //     &-item {
            
    //         li{
    //             margin-top: 20%;
            
    //         }

    //     }
    //     }
    //     .references {
    //         display: grid;
    //         grid-template-columns: 60% 40%;
         
        
    //         &__header {
    //             margin-bottom: 1%;
    //         }
        
    //         &__properties {
    //             width: 100%;
    //             margin-top: 24%;
              
                
    //         }
    //         &__filter {
    //         width: 37%;
    //          margin-right: -7px;       
    //         }
    //     }
    // }        

    // @include lg {
    //    .posts {

     

    //     &__list {
    //         display: grid;
    //         grid-template-columns: repeat(2,1fr);
    //         grid-gap: 70px;
    //         margin: 0px auto;
    //         width: 90%;
        
          
           
    //        &-item {
    //         border:1px solid rgb(221, 191, 191);
         
           
    //     }

    //     &-item-about {

    //     }
           
    //     }

       

        

    //     &__separator {
    //         display: none;
    //     }
    //     h3 {
    //         margin: 5% 0% 4% 5%;
    //     }
    //    }
       
    // }

  

    // @include xl {

    // }
    // // ======================================================= MEDIA QUERIES ================================================//


 @include tablet { 
    .posts {

        &__separator {
            display: none;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 20px;
            padding: 30px;
            align-items: center;


            &-item {
                border:1px solid rgb(221, 191, 191);
                padding: 30px;
            }
        }
    }

  .see_more {
    width: 50%;
    padding: 60px;

    .references__more-btn {
       margin: 0 100%;
    }
  }

  .fContainer {


    &__navigation {

        ul {
            li {
                margin-left: 15%;
            }
        }
    }
 }
 }



 @include laptop_l {

 }