@import './resets';
@import './variables';
@import './typography';
@import './functions';
@import url("https://p.typekit.net/p.css?s=1&k=wwy4bxt&ht=tk&f=27989.27998.28028.28056&a=54488276&app=typekit&e=css");



// .navbar {
//     font-family: "paralucent";
//     position: relative;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     background-color: $primary-color;
//     padding: px-to-rem(10px);
  
//     &__logo {
//       img {
//         width: px-to-rem(101px);
//         height: px-to-rem(46.87px);
//       }
//     }
  
//     &__menu {
//         visibility: hidden;

//         &.open{
//             visibility: visible;
//         }

  
//       &-list {
//         list-style: none;
//         display: flex;
//         gap: 20px;
//         margin: 0;
//         padding: 0;
  
//         &-row {
//           .navbar__menu-item {
//             width: px-to-rem(97px);
//             height: px-to-rem(48px);
//             position: relative;
  
//             a {
//               color: #fff;
//               text-align: left;
//               gap: 8px;
//               text-decoration: none;
//             }
  
//             a:hover {
//               text-decoration: underline;
//             }
//           }
//         }
//       }
//     }

// ======================================================= END OF HEADER ================================================//
  
    .menu-btn {
    width: px-to-rem(375px);
      display: flex;
      align-items: center;
      cursor: pointer;
      width: px-to-rem(44px);
      height: px-to-rem(44px);
      border-radius: 50%;
      background: #3b6a5e;
      position: relative;
      z-index: 2;
        left: 85%;
        top: 10%;
     
      
  
      &__burger {
        display: block;
        width: px-to-rem(25px);
        height: px-to-rem(3px);
        background-color: #fff;
        position: absolute;
        left: px-to-rem(11px);
        @include transition-ease;
        
  
        &::before,
        &::after {
          content: "";
          display: block;
          width: px-to-rem(25px);
          height: px-to-rem(3px);
          background-color: #fff;
          position: absolute;
          @include transition-ease;
      
        }
  
        &::before {
          top: -8px;
        }
  
        &::after {
          top: 8px;
        }
        &.open {
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
            }
            &::after {
                transform: rotate(-45deg) translate(3px, -7px);
            }
        }
      }
    }
    header {
        background: $primary-color;
        height: px-to-rem(55px);
    }
   .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
    font-family: 'paralucent';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2px;

    &bar__logo {
       
        visibility: visible;
        margin-left: px-to-rem(16px);
        margin-top: px-to-rem(10px) ;

        img {
            width: px-to-rem(75.42px);
            height: px-to-rem(35px);
        }
    }

    &.open {
        visibility: visible;
    }
    .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vw;
        margin-top: 0.4%;
        overflow: hidden;
        background: $primary-color;
        list-style-type:none;
        padding-right: 1rem;
        transform: translateY(-100%);
        @include transition-ease;

        &.open {
            transform: translateY(0);
        }
        &__item {
            transform: translateX(100vw);
            @include transition-ease;          
        
      
           
        }
        a {
            text-decoration: none;
            color: #fff;
            font-size: 30px;
            line-height: 50px;
            @include transition-ease;
        }
        a:hover {
            color: $hover-color;
        }

    }
   }

   // ======================================================= END OF HEADER ================================================//

   // ======================================================= REFERENCES ================================================//

   .references {
    width: 100%;
    height: px-to-rem(273px);
    background-color: $primary-color;
    

    &__header  {
        
        h1 {
        padding-top: px-to-rem(51px);
        font-size: 32px;
        color: $text-colorW;
        font-family: 'paralucent';
        letter-spacing: 2px;
        margin-left: px-to-rem(16.5px);
        }

        input {
            width: px-to-rem(343px);
            height: px-to-rem(44px);
            margin-top: px-to-rem(45px);
            margin-left: px-to-rem(15px);
            background: $primary-color;
            border: 1px solid rgb(126, 129, 126);
            border-radius: px-to-rem(50px);
            color: $text-colorW;
        }
        .icon {
            
        }
        
        ::placeholder {
            color: $text-colorW;
            font-family: 'paralucent';
            letter-spacing: 2px;
            
        }
    }

    &__properties {
        width: px-to-rem(343px);
        height: px-to-rem(44px);
        margin-top: px-to-rem(17px);
        display: flex;
        flex-direction: row;
         
        

        .references__filter {
            width: px-to-rem(85px);
            border: 1px solid rgb(126, 129, 126);
             border-radius: px-to-rem(50px);
            background: $primary-color;
            color: $text-colorW;
            
        }
    }
   }



   // ======================================================= END OFREFERENCES ================================================//
   
   .posts {
    width: 100%;

    h3 {
        font-family: 'paralucent';
        font-size: 16px;
        color: #bebebe;
        margin: 2%;
    }
    h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #0DB04A;
        margin-bottom: 20px;
    }
    p {
        margin-top: 1.5%;
        font-weight: 600;
        margin-top: 20px;
        font-family: 'paralucent';
        letter-spacing: 2px;

    }
    .line {
        width: 9%;
        height: 2px;
        margin: 0 auto;
        border-top: 2px solid rgb(220, 216, 216);
        border-bottom: 2px solid rgb(220, 216, 216);
        padding: 14px;
    }

    &__list {
        width: 94%;
        margin-left: 2.5%;

        &-items {
            width: 100%;
        }

        &-item {
            padding: 40px 0 20px 20px;
            border: 1px solid rgba(220, 216, 216);
            /* Remove the extra curly brace here */
            margin: 0 auto;
            width: 90%;
        }
        
        &-item-about {
            ul {
                width: 96%;
                display: flex;
                text-decoration: none;
                list-style-type: none;
                margin-top: 5%;
               

                li {
                    font-family: 'roboto';
                    font-size: 14px;
                    font-weight: 100;
                    color: #151515;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}
.references__more-btn {
    width: 110px;
    height: 44px;
    border-radius: 50px;
    margin-left: 7%;
    margin-top: 2%;
    background: #E8E8E8;
    font-family: 'paralucent';
    font-weight: 900;
    letter-spacing: 2px;
    color: #151515;
    margin-top: 10%;
    margin-bottom: 10%;
}



 // ======================================================= END OF POSTS ================================================//
 // ======================================================= IMG SECTION ================================================//


.midSection {
    display: flex;
    justify-content: center;
    height: 600px;
    background: rgb(18,42,35);
        background: linear-gradient(180deg, rgba(18,42,35,1) 26%, rgba(29,65,56,1) 97%, rgba(254,254,254,1) 100%);
   

    &__container {
        
       
    }

    &__img {
      
        img {
            width: 100%;
            
        }
    }

    &__company {
        margin-left: 6%;
        margin-top: 7%;
        
       

        &-desc {
            
            h1{
                font-family: 'paralucent';
                font-size: 32px;
                color: #fefefe;
            }

            p {
                font-family: 'Roboto', sans-serif;
                margin-top: 5%;
                color: #fefefe;
                line-height: 25px;

            }
        }
    }
    &__company-btns {
        margin-top: 11%;
      
        button {
          width: 90px;
          height: 44px;
          border-radius: 50px;
          background: #1d4138;
          color: #fefefe;
          margin-right: 10px; 
        }
      
        button:last-child {
          margin-left: 10px; 
        }
      }
}

 // ======================================================= END OF IMG SECTION ================================================//


  // ======================================================= Footer ================================================//

    .fContainer {

  .fContainer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7%;


    &-logo {
        width: 75px;
        height: 35px;
        margin-left: 7%;
    }

    &-icons {
        
        a {
            img {
                margin-right: 15px; 
                width: 24px;
                height: 24px;
            }

            &:last-child img {
                margin-right: 30px; 
                margin-top: 8%;
            }
        }
    }

}
&__navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        li {
            text-align: center;
            padding: 10px;
        }
    }
}
&__end {
    height: 150px;
    font-family: 'Roboto', sans-serif;
    color: #bebebe;
    h4 {
        text-align: center;
        font-weight: 200;
    }

    &-privacy {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        text-align: center;
        margin-top: 4%;
        margin-right: 3%;
    }
}
    }
.social_line{
    width: 86%;
    margin: 8% auto;
}



  // ======================================================= END Footer ================================================//